<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to index.php if the requested resource doesn't exist.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php [QSA,L]
</IfModule>

# Pass the Authorization header to PHP
<IfModule mod_php.c>
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

# Block access to sensitive directories
<Directory "../var">
    Order allow,deny
    Deny from all
</Directory>

<Directory "../vendor">
    Order allow,deny
    Deny from all
</Directory>

<Directory "../public">
    Require all granted
</Directory>

